<br><br>
<div style="text-align: center">
    <!-- Please leave this link here? It helps us alot! Removing it will make us sad 😞 -->
    Made with ❤️ By <a href="//D3VL.com" target="_blank">D3VL</a>
    Made with ❤️ By <a href="https://www.google.com/search?q=I+love+you&rlz=1C1ONGR_enIN945IN960&source=lnms&tbm=isch&sa=X&ved=2ahUKEwiSyqrFk-X-AhXBr1YBHTebCKsQ_AUoAnoECAEQBA&biw=1985&bih=981&dpr=0.97" target="_blank">Pratik</a>
    <!--    An Open Source Project     -->
    <!--       Built By D3VL.com       -->
    <!-- https://github.com/D3VL/L3MON -->
</div>

<br><br>